<section class="share-post">


  <!-- <div class="box"> -->
    <a aria-label="Compartilhe no Twitter" href="https://twitter.com/intent/tweet?text=Achei esse post daóra &quot;{{ page.title }}&quot; - {{ site.url }}{{ page.url }}&hashtags=MyWorksBlog,"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      <p>Compartilhar no Twitter</p>
    </a>
  <!-- </div> -->

  <!-- <div class="box"> -->
    <a aria-label="Compartilhe no Facebook"href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
      <p>Compartilhar no Facebook</p>
    </a>
  <!-- </div> -->

  <!-- <div class="box"> -->
    <a aria-label="Compartilhe no Google Plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
      onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
      <p>Compartilhar no Google+</p>
    </a>
  <!-- </div> -->

</section>
