.author
  margin 0 auto
  max-width 100%
  height auto
  display flex
  flex-direction column


  // Section photo
  > .author__sectionphoto
    padding rem(0px)
    display flex
    flex-direction row
    align-items center
    justify-content space-around

    > .author__sectionphoto--divider
      width rem(200px)
      height rem(3px)
      background-color $color-gray

    > .author__sectionphoto--photo
      width rem(130px)
      height auto

      > img
        width 100%
        border-radius 50%

  // Section about
  > .author__sectionphoto--about
    padding-left rem(50px)
    padding-right rem(50px)

    > .author__sectionphoto--aboutname
      @extend $title
      margin-top 0
      text-align center

    > .author__sectionphoto--aboutdesc
      @extend $text
      text-align center
