
// Navbar
// ======
$icon-menu
  width rem(32px)
  height rem(6px)
  background-color $color-gray
  border-radius rem(4px)
  box-shadow rem(0px) rem(0px) rem(5px) $color-black
  transition .3s linear all


// Fonts
// =====
$title
  font-family $font-title
  color $color-black

$text
  font-family $font-text
  color darken($color-black, 100%)
  font-size rem(18px)
