
.post-container
  margin rem(20px) auto
  max-width rem(800px)
  height auto
  padding rem(20px)


  > .posts
    max-width 100%

    > p
      @extend $text
      color $color-gray-dark
      font-size rem(15px)

      &:hover > a
        text-decoration underline
        color $color-blue

      > a
        color $color-gray-dark

    > .post-list
      padding rem(15px)

      &:hover
        box-shadow rem(0px) rem(0px) rem(10px) $color-gray


      > .post-title
        @extend $title
        transition .2s linear all

        > a
          color inherit
          text-decoration none

      > .post-date
        @extend $text
        font-size rem(16px)
        margin-top rem(-14px)

      > .post-about

        > p
          @extend $text

    > .post-content
      width 100%
      height auto
      padding rem(0px)


      > img,
      > p > img
        width 100%

      > iframe
        width 100%
        // box-shadow rem(0px) rem(5px) rem(8px) #444
        +below($size-tablet)
          height rem(410px)
        +below(480px)
          height rem(300px)


      code[class*=highlighter]
        background-color $color-blue-light
        color $color-black
        border-radius rem(4px)
        padding rem(3px)
        // font-weight bold
        font-size rem(15px)

      table
        margin rem(50px) auto

        th,
        td
          border rem(2px) solid $color-gray
          padding rem(10px)

      blockquote
        padding rem(10px)
        border-left rem(5px) solid $color-gray
        margin rem(50px) 0 rem(50px) 0
        // background-image linear-gradient(45deg, $color-gray-light, $color-gray, $color-gray-light)
        // box-shadow rem(0px) rem(0px) rem(0.3px) $color-black
        // font-weight bold

        > p
          color $color-gray-dark

        > p::before
          content "“"
          font-size rem(22px)

        > p::after
          content "”"
          font-size rem(22px)

      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6
        @extend $title

      > h1
        font-size rem(38px)
      > h2
        font-size rem(26px)
      > h3
        font-size rem(20px)
      p,
      li
        @extend $text
        line-height 160%

      em
        color $color-gray-dark
        font-weight bold

      td
        @extend $title

      a[target=_blank]::after
        display inline-block
        font normal normal normal 14px/1 FontAwesome
        content "\f08e"
        font-size rem(20px)
        margin-left rem(3px)

      a
        padding rem(3px)
        color $color-blue
        // font-weight bold
        text-decoration none
        transition .2s linear all

        &:hover
          color $color-gray
          background-color $color-blue
          border-radius rem(4px)

        // @extend .fa .fa-external-link
