
body,
html
  box-sizing border-box
  max-width 100%
  max-height 100%
  overflow-x hidden
  +below($size-tablet)
    font-size 13px
  +above($size-large-desktop)
    font-size 21px


.new
  position absolute
  top rem(14px)
  margin-left rem(2px)
  padding rem(2px)
  border-radius rem(4px)
  background-color $color-purple
  font-size rem(12px)
  box-shadow rem(0px) rem(0px) rem(0.3px) $color-gray-light
