
// Colors
// ------
$color-black = rgb(68, 68, 68)
$color-gray = rgb(230, 230, 230)
$color-gray-dark = darken($color-gray, 20%)
$color-blue = rgb(51, 102, 255)
$color-blue-light = lighten($color-blue, 85%)
$color-purple = rgb(184, 46, 138)
$color-red = rgb(204, 0, 0)

// Fonts
// -----
$font-title = 'Lora', serif
$font-text = 'Lora', serif


// Sizes
// -----
$size-mobile = 425px
$size-tablet = 775px
$size-small-desktop = 970px
$size-large-desktop = 1170px
