<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl  }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    {% if page.image %}
      <section class="image-post" style="background-image: url('/assets/img/{{ page.image }}')"></section>
      <section class="overlay-background"></section>
    {% else %}
      <section class="trianglify"></section>
    {% endif %}

    <section class="wrapper">
      {% include header.html %}
    </section>
    <section class="post-container" id="scroll">
      {{ content }}
    </section>

    {% include footer.html %}

    <!-- javascript -->
    <script async type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
