<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% if page.image %}
      <section class="image-post" style="background-image: url('{{ page.image }}')"></section>
      <section class="overlay-background"></section>
    {% else %}
      <section class="trianglify"></section>
    {% endif %}

    <section class="wrapper">
      {% include header.html %}
    </section>
    <section class="post-container" id="scroll">
      {{ content }}
    </section>

    {% include footer.html %}

    <!-- javascript -->
    <script async type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
